<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<h:form id="appointmentsListForm">

		<script type="text/javascript">
			//<![CDATA[
				$(document).ready(function() {
					$("#appointmentsListForm\\:appointmentsList\\:startTime\\:filter").keydown(function(event) {
						// Allow: backspace, delete, tab, escape, and enter
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                                // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            	// Allow: ":"
                            (event.shiftKey === true && event.keyCode == 186) || 
                                // Allow: home, end, left, right
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                            }
                            else {
                                // Ensure that it is a number and stop the keypress
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#appointmentsListForm\\:appointmentsList\\:endTime\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.shiftKey === true && event.keyCode == 186) || 
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
			//]]>
		</script>

		<br />
		<p:outputLabel value="Current list of appointments:"
			style="font-weight: bold; font-size: 25px;" />
		<br />
		<br />

		<p:dataTable id="appointmentsList" widgetVar="appointmentsTable"
			value="#{appointmentController.lazyAppointmentModel}"
			var="appointment" rows="5" paginator="true" lazy="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
			rowsPerPageTemplate="5,10,15">
			<p:column id="appointmentType" headerText="Appointment Type"
				sortBy="#{appointment.appointmentType}"
				filterBy="#{appointment.appointmentType}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
						<f:selectItem itemLabel="Select One" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems
							value="#{appointmentController.appointmentModel.typeList}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText id="appointmentTypeValue"
					value="#{appointment.appointmentType}"></h:outputText>
			</p:column>
			<p:column id="appointmentStatus" headerText="Appointment Status"
				sortBy="#{appointment.appointmentStatus}"
				filterBy="#{appointment.appointmentStatus}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
						<f:selectItem itemLabel="Select One" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems
							value="#{appointmentController.appointmentModel.statusList}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText id="appointmentStatusValue"
					value="#{appointment.appointmentStatus}"></h:outputText>
			</p:column>
			<p:column id="specialtyType" headerText="Specialty Type"
				sortBy="#{appointment.specialtyType}"
				filterBy="#{appointment.specialtyType}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
						<f:selectItem itemLabel="Select One" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems
							value="#{appointmentController.appointmentModel.specialtyList}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText id="specialtyTypeValue"
					value="#{appointment.specialtyType}"></h:outputText>
			</p:column>
			<p:column id="date" headerText="Date" sortBy="#{appointment.date}"
				filterBy="#{appointment.date}">
				<f:facet name="filter">
					<p:calendar pattern="yyyy-MM-dd">
						<p:ajax event="change" execute="@this"
							oncomplete="PF('appointmentsTable').filter()" />
					</p:calendar>
				</f:facet>
				<h:outputText id="dateValue" value="#{appointment.date}"></h:outputText>
			</p:column>
			<p:column id="startTime" headerText="Start Time"
				filterBy="#{appointment.startTime}">
				<h:outputText id="startTimeValue" value="#{appointment.startTime}"></h:outputText>
			</p:column>
			<p:column id="endTime" headerText="End Time"
				filterBy="#{appointment.endTime}">
				<h:outputText id="endTimeValue" value="#{appointment.endTime}"></h:outputText>
			</p:column>
			<p:column id="patientId" headerText="Patient Name"
				filterBy="#{appointment.patientId}">
				<f:facet name="filter">
					<p:autoComplete id="patientPojo"
						completeMethod="#{appointmentController.completePatient}"
						var="patient" itemLabel="#{patient.firstName} #{patient.lastName}"
						itemValue="#{patient}" converter="#{patientNameConverter}"
						forceSelection="true" onselect="PF('appointmentsTable').filter()"
						onblur="PF('appointmentsTable').filter()" dropdown="true" />
				</f:facet>
				<h:outputText id="patientValue" value="#{appointment.patientId}"
					converter="#{patientIdConverter}"></h:outputText>
			</p:column>
			<p:column id="doctorId" headerText="Doctor Name"
				filterBy="#{appointment.doctorId}">
				<f:facet name="filter">
					<p:autoComplete id="doctorPojo"
						completeMethod="#{appointmentController.completeDoctorFilter}"
						var="doc" itemLabel="#{doc.firstName} #{doc.lastName}"
						itemValue="#{doc}" converter="#{doctorNameConverter}"
						forceSelection="true" onselect="PF('appointmentsTable').filter()"
						onblur="PF('appointmentsTable').filter()" dropdown="true">
					</p:autoComplete>
				</f:facet>
				<h:outputText id="doctorValue" value="#{appointment.doctorId}"
					converter="#{doctorIdConverter}"></h:outputText>
			</p:column>
			<p:column id="view" headerText="View">
				<p:commandButton id="viewAppointmentButton" icon="pi pi-info-circle"
					style="display: block; margin: auto;"
					action="#{appointmentController.viewClicked(appointment)}"
					immediate="true" update="appointmentProfile"></p:commandButton>
			</p:column>
			<p:column id="delete" headerText="Delete">
				<p:commandButton id="deleteAppointmentButton"
					style="display: block; margin: auto;"
					action="#{appointmentController.deleteAppointment(appointment.id)}"
					update="appointmentsListForm" immediate="true" icon="pi pi-trash"></p:commandButton>
			</p:column>
			<p:column id="edit" headerText="Edit">
				<p:commandButton id="editAppointmentButton"
					style="display: block; margin: auto;"
					action="#{appointmentController.editClicked(appointment)}"
					update="appointmentForm" immediate="true" icon="pi pi-pencil">
					<p:ajax update="appointmentForm" resetValues="true" />
				</p:commandButton>
			</p:column>
		</p:dataTable>

		<p:commandButton id="addAppointmentButton" value="Add new appointment"
			action="#{appointmentController.addClicked}" update="appointmentForm"
			immediate="true" icon="pi pi-plus">
			<p:resetInput target="appointmentForm" />
		</p:commandButton>
	</h:form>
</ui:composition>

</html>