<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog header="Appointment information:"
		widgetVar="appointmentProfileDialog" modal="true" height="500">
		<h:form id="appointmentProfile">
			<p:button id="goBackButton" value="Go Back"
				outcome="appointments.xhtml" icon="pi pi-arrow-left"></p:button>
			<p:panel id="basic" style="margin-bottom:20px">
				<h:panelGrid columns="2" cellpadding="10">
					<h:outputText value="ID: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.id}" />
					<h:outputText value="Appointment Type: : " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.appointmentType}" />
					<h:outputText value="Appointment Status: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.appointmentStatus}" />
					<h:outputText value="Specialty Type: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.specialtyType}" />
					<h:outputText value="Date: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.date}">
					</h:outputText>
					<h:outputText value="Start Time: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.startTime}" />
					<h:outputText value="End Time: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.endTime}" />
					<h:outputText value="Description: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.description}" />
					<h:outputText value="Patient Name: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.patientId}"
						converter="#{patientIdConverter}" />
					<h:outputText value="Doctor Name: " />
					<h:outputText
						value="#{appointmentController.appointmentModel.appointment.doctorId}"
						converter="#{doctorIdConverter}" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</p:dialog>
</ui:composition>

</html>