<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog header="Enter the appointment info:"
		widgetVar="appointmentFormDialog" modal="true" height="600">
		<h:form id="appointmentForm">
			<p:panel id="panel">
				<div hidden="true">
					<p:outputLabel for="id" style="width:125px" value="ID" />
					<div>
						<p:inputText id="id"
							value="#{appointmentController.appointmentModel.appointment.id}">
						</p:inputText>
					</div>
				</div>
				<div>
					<p:outputLabel for="startTime" style="width:125px"
						value="Start Time" />
					<div>
						<p:inputText id="startTime"
							value="#{appointmentController.appointmentModel.appointment.startTime}"
							required="true" requiredMessage="Start Time is mandatory.">
							<f:validateRegex pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" />
							<f:validator binding="#{timeValidator}" />
							<f:attribute name="endTimeValidator" value="#{endTimeValidator}" />
							<f:attribute name="dateValidator" value="#{dateValidator}" />
							<f:attribute name="patValidator" value="#{patValidator}" />
							<f:attribute name="doctorValidator" value="#{doctorValidator}" />
						</p:inputText>
						<p:message for="startTime" />
					</div>
				</div>
				<div>
					<p:outputLabel for="endTime" style="width:125px" value="End Time" />
					<div>
						<p:inputText id="endTime"
							value="#{appointmentController.appointmentModel.appointment.endTime}"
							required="true" requiredMessage="End Time is mandatory."
							binding="#{endTimeValidator}">
							<f:validateRegex pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" />
						</p:inputText>
						<p:message for="endTime" />
					</div>
				</div>
				<div>
					<p:outputLabel for="date" value="Date" />
					<div>
						<p:datePicker id="date"
							value="#{appointmentController.appointmentModel.appointment.date}"
							required="true" requiredMessage="Date is mandatory."
							pattern="yyyy-MM-dd" binding="#{dateValidator}" />
						<p:message for="date" />
					</div>
				</div>
				<div>
					<p:outputLabel for="appointmentType" value="Appointment Type" />
					<div>
						<p:selectOneMenu dynamic="true" style="width:125px"
							id="appointmentType"
							value="#{appointmentController.appointmentModel.appointment.appointmentType}"
							required="true" requiredMessage="Appointment Type is mandatory.">
							<f:selectItems
								value="#{appointmentController.appointmentModel.typeList}" />
						</p:selectOneMenu>
						<p:message for="appointmentType" />
					</div>
				</div>
				<div>
					<p:outputLabel for="appointmentStatus" value="Appointment Status" />
					<div>
						<p:selectOneMenu dynamic="true" style="width:125px"
							id="appointmentStatus"
							value="#{appointmentController.appointmentModel.appointment.appointmentStatus}"
							required="true"
							requiredMessage="Appointment Status is mandatory.">
							<f:selectItems
								value="#{appointmentController.appointmentModel.statusList}" />
						</p:selectOneMenu>
						<p:message for="appointmentStatus" />
					</div>
				</div>
				<div>
					<p:outputLabel for="specialtyType" value="Specialty Type" />
					<div>
						<p:selectOneMenu id="specialtyType" dynamic="true"
							style="width:125px"
							value="#{appointmentController.appointmentModel.appointment.specialtyType}"
							required="true" requiredMessage="Specialty Type is mandatory.">
							<p:ajax
								listener="#{appointmentController.setSpecialtyForAutocomplete}" />
							<f:selectItems
								value="#{appointmentController.appointmentModel.specialtyList}" />
							<f:validator binding="#{specialtyValidator}" />
							<f:attribute name="doctorValidator" value="#{doctorValidator}" />
						</p:selectOneMenu>
						<p:message for="specialtyType" />
					</div>
				</div>
				<div>
					<p:outputLabel for="description" style="width:125px"
						value="Description" />
					<div>
						<p:inputTextarea id="description" rows="3" cols="50"
							value="#{appointmentController.appointmentModel.appointment.description}">
							<f:validateLength maximum="512" />
						</p:inputTextarea>
						<p:message for="description" />
					</div>
				</div>
				<div>
					<p:outputLabel value="Patient:" for="patientPojo" />
					<p:autoComplete id="patientPojo"
						value="#{appointmentController.patient}"
						completeMethod="#{appointmentController.completePatient}"
						var="patient" itemLabel="#{patient.firstName} #{patient.lastName}"
						itemValue="#{patient}" converter="#{patientConverter}"
						forceSelection="true" required="true"
						requiredMessage="Patient is mandatory." binding="#{patValidator}" />
					<p:message for="patientPojo" />
				</div>
				<div>
					<p:outputLabel value="Doctor:" for="doctorPojo" />
					<p:autoComplete id="doctorPojo"
						value="#{appointmentController.doctor}"
						completeMethod="#{appointmentController.completeDoctor}"
						var="doctor" itemLabel="#{doctor.firstName} #{doctor.lastName}"
						itemValue="#{doctor}" converter="#{doctorConverter}"
						forceSelection="true" required="true"
						requiredMessage="Doctor is mandatory."
						binding="#{doctorValidator}" />
					<p:message for="doctorPojo" />
				</div>

				<p:commandButton id="saveAppointmentButton" icon="pi pi-save"
					value="Save" update="@form appointmentsListForm"
					action="#{appointmentController.createAppointment()}"></p:commandButton>
			</p:panel>
		</h:form>
	</p:dialog>
</ui:composition>

</html>