<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<h:form id="doctorsListForm">

		<script type="text/javascript">
			//<![CDATA[
				$(document).ready(function() {
					$("#doctorsListForm\\:doctorsList\\:firstName\\:filter").keydown(function(event) {
						// Allow: backspace, delete, tab, escape, and enter
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                                // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) || 
                                // Allow: home, end, left, right
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                            }
                            else {
                                // Ensure that it is a letter and stop the keypress
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#doctorsListForm\\:doctorsList\\:lastName\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#doctorsListForm\\:doctorsList\\:phoneNumber\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
			//]]>
		</script>

		<br />
		<p:outputLabel value="Current list of doctors:"
			style="font-weight: bold; font-size: 25px;" />
		<br />
		<br />

		<p:dataTable id="doctorsList" widgetVar="doctorsTable"
			value="#{doctorController.lazyDoctorModel}" var="doctor" rows="5"
			paginator="true" lazy="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
			rowsPerPageTemplate="5,10,15">
			<p:column id="firstName" headerText="First Name"
				sortBy="#{doctor.firstName}" filterBy="#{doctor.firstName}">
				<h:outputText id="firstNameValue" value="#{doctor.firstName}"></h:outputText>
			</p:column>
			<p:column id="lastName" headerText="Last Name"
				sortBy="#{doctor.lastName}" filterBy="#{doctor.lastName}">
				<h:outputText id="lastNameValue" value="#{doctor.lastName}"></h:outputText>
			</p:column>
			<p:column id="specialtyType" headerText="Specialty Type"
				sortBy="#{doctor.specialtyType}" filterBy="#{doctor.specialtyType}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('doctorsTable').filter()">
						<f:selectItem itemLabel="Select One" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems
							value="#{doctorController.doctorModel.specialtyTypeList}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText id="specialtyTypeValue"
					value="#{doctor.specialtyType}"></h:outputText>
			</p:column>
			<p:column id="email" headerText="Email" sortBy="#{doctor.email}"
				filterBy="#{doctor.email}">
				<h:outputText id="emailValue" value="#{doctor.email}"></h:outputText>
			</p:column>
			<p:column id="phoneNumber" headerText="Phone Number"
				sortBy="#{doctor.phoneNumber}" filterBy="#{doctor.phoneNumber}">
				<h:outputText id="phoneNumberValue" value="#{doctor.phoneNumber}"></h:outputText>
			</p:column>
			<p:column id="view" headerText="View">
				<p:commandButton id="viewDoctorButton" icon="pi pi-info-circle"
					style="display: block; margin: auto;" update="doctorsProfile"
					action="#{doctorController.viewClicked(doctor)}" immediate="true"></p:commandButton>
			</p:column>
			<p:column id="delete" headerText="Delete">
				<p:commandButton id="deleteDoctorButton" icon="pi pi-trash"
					style="display: block; margin: auto;"
					action="#{doctorController.deleteDoctor(doctor.id)}"
					immediate="true" update="@form"></p:commandButton>
			</p:column>
			<p:column id="edit" headerText="Edit">
				<p:commandButton id="editDoctorButton"
					action="#{doctorController.editClicked(doctor)}"
					style="display: block; margin: auto;" update="doctorForm"
					immediate="true" icon="pi pi-pencil">
					<p:ajax update="doctorForm" resetValues="true" />
				</p:commandButton>
			</p:column>
		</p:dataTable>

		<p:commandButton id="addDoctorsButton" value="Add new doctor"
			action="#{doctorController.addClicked}" immediate="true"
			icon="pi pi-plus" update="doctorForm">
			<p:ajax update="doctorForm" resetValues="true" />
		</p:commandButton>

	</h:form>
</ui:composition>

</html>