<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog id="doctorFormDialog" header="Enter the doctor's info:"
		widgetVar="doctorFormDialog" modal="true" height="400">
		<h:form id="doctorForm">
			<p:panel id="panel">
				<div>
					<p:outputLabel for="firstName" style="width:125px"
						value="Firstname" />
					<div>
						<p:inputText id="firstName"
							value="#{doctorController.doctorModel.doctor.firstName}"
							required="true" requiredMessage="First name is mandatory.">
							<f:validateLength minimum="2" maximum="64" />
							<f:validateRegex pattern="^[A-Za-z]+[,.'-]*[A-Za-z]$"></f:validateRegex>
						</p:inputText>
						<p:message for="firstName" />
					</div>
				</div>
				<div>
					<p:outputLabel for="lastName" style="width:125px" value="Lastname" />
					<div>
						<p:inputText id="lastName"
							value="#{doctorController.doctorModel.doctor.lastName}"
							required="true" requiredMessage="Last name is mandatory.">
							<f:validateLength minimum="2" maximum="64" />
							<f:validateRegex pattern="^[A-Za-z]+[,.'-]*[A-Za-z]$"></f:validateRegex>
						</p:inputText>
						<p:message for="lastName" />
					</div>
				</div>
				<div>
					<p:outputLabel for="email" style="width:125px" value="Email" />
					<div>
						<p:inputText id="email"
							value="#{doctorController.doctorModel.doctor.email}"
							required="true" requiredMessage="Email is mandatory.">
							<f:validateLength maximum="64" />
							<f:validateRegex pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"></f:validateRegex>
							<f:validator binding="#{emailValidator}" />
							<f:attribute name="idAttribute" value="#{idAttribute}" />
						</p:inputText>
						<p:message for="email" />
					</div>
				</div>
				<div>
					<p:outputLabel for="phoneNumber" style="width:125px"
						value="Phone Number" />
					<div>
						<p:inputText id="phoneNumber"
							value="#{doctorController.doctorModel.doctor.phoneNumber}"
							required="true" requiredMessage="Phone number is mandatory.">
							<f:validateLength minimum="4" maximum="32" />
							<f:validateRegex pattern="[0-9]+"></f:validateRegex>
						</p:inputText>
						<p:message for="phoneNumber" />
					</div>
				</div>
				<div>
					<p:outputLabel for="specialtyType" value="Specialty Type" />
					<div>
						<p:selectOneMenu id="specialtyType" dynamic="true"
							style="width:125px"
							value="#{doctorController.doctorModel.doctor.specialtyType}"
							required="true" requiredMessage="Specialty Type is mandatory.">
							<f:selectItems
								value="#{doctorController.doctorModel.specialtyTypeList}" />
						</p:selectOneMenu>
						<p:message for="specialtyType" />
					</div>
				</div>
				<div hidden="true">
					<p:outputLabel for="id" style="width:125px" value="ID" />
					<div>
						<p:inputText id="id"
							value="#{doctorController.doctorModel.doctor.id}"
							binding="#{idAttribute}">
						</p:inputText>
					</div>
				</div>

				<p:commandButton id="saveDoctorButton" icon="pi pi-save"
					value="Save" update="@form doctorsListForm"
					action="#{doctorController.createDoctor()}"></p:commandButton>
			</p:panel>
		</h:form>
	</p:dialog>
</ui:composition>

</html>