<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog header="Doctor information:" widgetVar="doctorsProfileDialog"
		modal="true" height="600">
		<h:form id="doctorsProfile">
			<p:button id="goBackButton" value="Go Back" outcome="doctors.xhtml"
				icon="pi pi-arrow-left"></p:button>
			<p:panel id="basic" style="margin-bottom:20px">
				<h:panelGrid columns="2" cellpadding="10">
					<h:outputText value="ID: " />
					<h:outputText value="#{doctorController.doctorModel.doctor.id}" />
					<h:outputText value="First Name: " />
					<h:outputText
						value="#{doctorController.doctorModel.doctor.firstName}" />
					<h:outputText value="Last Name: " />
					<h:outputText
						value="#{doctorController.doctorModel.doctor.lastName}" />
					<h:outputText value="Email: " />
					<h:outputText value="#{doctorController.doctorModel.doctor.email}" />
					<h:outputText value="Phone Number: " />
					<h:outputText
						value="#{doctorController.doctorModel.doctor.phoneNumber}" />
					<h:outputText value="Specialty Type: " />
					<h:outputText
						value="#{doctorController.doctorModel.doctor.specialtyType}" />
				</h:panelGrid>
			</p:panel>

			<p:dataTable id="appointmentsList" widgetVar="appointmentsTable"
				value="#{doctorController.lazyDoctorAppointmentModel}"
				var="appointment" rows="5" paginator="true" lazy="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
				rowsPerPageTemplate="5,10,15">
				<p:column id="appointmentType" headerText="Appointment Type"
					sortBy="#{appointment.appointmentType}"
					filterBy="#{appointment.appointmentType}">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
							<f:selectItem itemLabel="Select One" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems
								value="#{appointmentController.appointmentModel.typeList}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{appointment.appointmentType}"></h:outputText>
				</p:column>
				<p:column id="appointmentStatus" headerText="Appointment Status"
					sortBy="#{appointment.appointmentStatus}"
					filterBy="#{appointment.appointmentStatus}">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
							<f:selectItem itemLabel="Select One" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems
								value="#{appointmentController.appointmentModel.statusList}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{appointment.appointmentStatus}"></h:outputText>
				</p:column>
				<p:column id="specialtyType" headerText="Specialty Type"
					sortBy="#{appointment.specialtyType}"
					filterBy="#{appointment.specialtyType}">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('appointmentsTable').filter()">
							<f:selectItem itemLabel="Select One" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems
								value="#{appointmentController.appointmentModel.specialtyList}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{appointment.specialtyType}"></h:outputText>
				</p:column>
				<p:column id="date" headerText="Date" sortBy="#{appointment.date}"
					filterBy="#{appointment.date}">
					<f:facet name="filter">
						<p:calendar pattern="yyyy-MM-dd">
							<p:ajax event="change" execute="@this"
								oncomplete="PF('appointmentsTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{appointment.date}"></h:outputText>
				</p:column>
				<p:column id="startTime" headerText="Start Time"
					filterBy="#{appointment.startTime}">
					<h:outputText value="#{appointment.startTime}"></h:outputText>
				</p:column>
				<p:column id="endTime" headerText="End Time"
					filterBy="#{appointment.endTime}">
					<h:outputText value="#{appointment.endTime}"></h:outputText>
				</p:column>
				<p:column id="patientId" headerText="Patient Name"
					filterBy="#{appointment.patientId}">
					<f:facet name="filter">
						<p:autoComplete id="patientPojo"
							completeMethod="#{appointmentController.completePatient}"
							var="patient"
							itemLabel="#{patient.firstName} #{patient.lastName}"
							itemValue="#{patient}" converter="#{patientNameConverter}"
							forceSelection="true" onselect="PF('appointmentsTable').filter()"
							onblur="PF('appointmentsTable').filter()" dropdown="true" />
					</f:facet>
					<h:outputText value="#{appointment.patientId}"
						converter="#{patientIdConverter}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>
</ui:composition>

</html>