<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog header="Filter error!" widgetVar="filterErrorDialog"
		modal="true" height="100">
		<h:form id="filterError">
			<h:outputText value="There were too many characters introduced!"></h:outputText>
		</h:form>
	</p:dialog>
</ui:composition>

</html>