<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<h:form>
		<p:growl id="messages" showDetail="true" />
		<p:toolbar>
			<f:facet name="left">
				<span id="appTitle">Appointify</span>
			</f:facet>

			<f:facet name="right">
				<p:menuButton id="testButton" value="Options">
					<p:menuitem value="Patients" outcome="patients.xhtml"
						icon="pi pi-users" />
					<p:menuitem value="Doctors" outcome="doctors.xhtml"
						icon="pi pi-id-card" />
					<p:menuitem value="Appointments" outcome="appointments.xhtml"
						icon="pi pi-calendar" />
					<p:menuitem value="Home" outcome="index.xhtml" icon="pi pi-home" />
				</p:menuButton>
			</f:facet>
		</p:toolbar>
	</h:form>
</ui:composition>

</html>