<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog id="patientFormDialog" header="Enter the patient's info:"
		widgetVar="patientFormDialog" modal="true" height="600">
		<h:form id="patientForm">
			<p:panel id="panel">
				<div>
					<p:outputLabel for="firstName" style="width:125px"
						value="Firstname" />
					<div>
						<p:inputText id="firstName"
							value="#{patientController.patientModel.patient.firstName}"
							required="true" requiredMessage="First name is mandatory.">
							<f:validateLength minimum="2" maximum="64" />
							<f:validateRegex pattern="^[A-Za-z]+[,.'-]*[A-Za-z]$"></f:validateRegex>
						</p:inputText>
						<p:message for="firstName" />
					</div>
				</div>
				<div>
					<p:outputLabel for="lastName" style="width:125px" value="Lastname" />
					<div>
						<p:inputText id="lastName"
							value="#{patientController.patientModel.patient.lastName}"
							required="true" requiredMessage="Last name is mandatory.">
							<f:validateLength minimum="2" maximum="64" />
							<f:validateRegex pattern="^[A-Za-z]+[,.'-]*[A-Za-z]$"></f:validateRegex>
						</p:inputText>
						<p:message for="lastName" />
					</div>
				</div>
				<div>
					<p:outputLabel for="cnp" style="width:125px" value="CNP" />
					<div>
						<p:inputText id="cnp"
							value="#{patientController.patientModel.patient.cnp}"
							required="true" requiredMessage="CNP is mandatory.">
							<f:validateLength minimum="13" maximum="13" />
							<f:validateRegex pattern="^[0-9]*$"></f:validateRegex>
							<f:validator binding="#{cnpValidator}" />
							<f:attribute name="idAttribute" value="#{idAttribute}" />
						</p:inputText>
						<p:message for="cnp" />
					</div>
				</div>
				<div>
					<p:outputLabel for="sexType" value="Sex Type" />
					<div>
						<p:selectOneMenu id="sexType" dynamic="true" style="width:125px"
							value="#{patientController.patientModel.patient.sexType}"
							required="true" requiredMessage="Sex type is mandatory.">
							<f:selectItems
								value="#{patientController.patientModel.sexTypeList}" />
						</p:selectOneMenu>
						<p:message for="sexType" />
					</div>
				</div>
				<div>
					<p:outputLabel for="birthDate" value="Birthdate" />
					<div>
						<p:datePicker id="birthDate"
							value="#{patientController.patientModel.patient.birthDate}"
							required="true" requiredMessage="Birth date is mandatory."
							pattern="yyyy-MM-dd"
							maxdate="#{patientController.patientModel.maxDate}">
						</p:datePicker>
						<p:message for="birthDate" />
					</div>
				</div>
				<div>
					<p:outputLabel for="phoneNumber" style="width:125px"
						value="Phone Number" />
					<div>
						<p:inputText id="phoneNumber"
							value="#{patientController.patientModel.patient.phoneNumber}"
							required="true" requiredMessage="Phone number is mandatory.">
							<f:validateLength minimum="4" maximum="32" />
							<f:validateRegex pattern="[0-9]+"></f:validateRegex>
						</p:inputText>
						<p:message for="phoneNumber" />
					</div>
				</div>
				<div>
					<p:outputLabel for="country" style="width:125px" value="Country" />
					<div>
						<p:inputText id="country"
							value="#{patientController.patientModel.patient.country}">
							<f:validateLength maximum="32" />
							<f:validateRegex pattern="^[a-zA-Z\s]*$"></f:validateRegex>
						</p:inputText>
						<p:message for="country" />
					</div>
				</div>
				<div>
					<p:outputLabel for="city" style="width:125px" value="City" />
					<div>
						<p:inputText id="city"
							value="#{patientController.patientModel.patient.city}">
							<f:validateRegex pattern="^[a-zA-Z\s]*$"></f:validateRegex>
							<f:validateLength maximum="32" />
						</p:inputText>
						<p:message for="city" />
					</div>
				</div>
				<div hidden="true">
					<p:outputLabel for="id" style="width:125px" value="ID" />
					<div>
						<p:inputText id="id"
							value="#{patientController.patientModel.patient.id}"
							binding="#{idAttribute}">
						</p:inputText>
					</div>
				</div>

				<p:commandButton id="savePatientButton" icon="pi pi-save"
					value="Save" update="@form patientsListForm"
					action="#{patientController.createPatient()}"></p:commandButton>
			</p:panel>
		</h:form>
	</p:dialog>
</ui:composition>

</html>