<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<h:form id="patientsListForm">

		<script type="text/javascript">
			//<![CDATA[
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:firstName\\:filter").keydown(function(event) {
						// Allow: backspace, delete, tab, escape, and enter
                        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                                // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) || 
                                // Allow: home, end, left, right
                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                            }
                            else {
                                // Ensure that it is a letter and stop the keypress
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault();
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:lastName\\:filter").keydown(function(event) {
                        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:country\\:filter").keydown(function(event) {
						if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:city\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if ((event.keyCode < 65 || event.keyCode > 90)) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:cnp\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
				
				$(document).ready(function() {
					$("#patientsListForm\\:patientsList\\:phoneNumber\\:filter").keydown(function(event) {
                        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
                            (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
                                return;
                            }
                            else {
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                                    event.preventDefault(); 
                                }   
                            }
                        });
                    });
			//]]>
		</script>

		<br />
		<p:outputLabel value="Current list of patients:"
			style="font-weight: bold; font-size: 25px;" />
		<br />
		<br />

		<p:dataTable id="patientsList" widgetVar="patientsTable"
			value="#{patientController.lazyPatientModel}" var="patient" rows="5"
			paginator="true" lazy="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
			rowsPerPageTemplate="5,10,15">
			<p:column id="firstName" headerText="First Name"
				sortBy="#{patient.firstName}" filterBy="#{patient.firstName}">
				<h:outputText id="firstNameValue" value="#{patient.firstName}"></h:outputText>
			</p:column>
			<p:column id="lastName" headerText="Last Name"
				sortBy="#{patient.lastName}" filterBy="#{patient.lastName}">
				<h:outputText id="lastNameValue" value="#{patient.lastName}"></h:outputText>
			</p:column>
			<p:column id="cnp" headerText="CNP" sortBy="#{patient.cnp}"
				filterBy="#{patient.cnp}">
				<h:outputText id="cnpValue" value="#{patient.cnp}"></h:outputText>
			</p:column>
			<p:column id="sexType" headerText="Sex Type"
				sortBy="#{patient.sexType}" filterBy="#{patient.sexType}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('patientsTable').filter()">
						<f:selectItem itemLabel="Select One" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems
							value="#{patientController.patientModel.sexTypeList}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText id="sexTypeValue" value="#{patient.sexType}"></h:outputText>
			</p:column>
			<p:column id="birthDate" headerText="Birth Date"
				sortBy="#{patient.birthDate}" filterBy="#{patient.birthDate}">
				<f:facet name="filter">
					<p:calendar pattern="yyyy-MM-dd"
						maxdate="#{patientController.patientModel.maxDate}">
						<p:ajax event="change" execute="@this"
							oncomplete="PF('patientsTable').filter()" />
					</p:calendar>
				</f:facet>
				<h:outputText id="birthDateValue" value="#{patient.birthDate}"></h:outputText>
			</p:column>
			<p:column id="phoneNumber" headerText="Phone Number"
				sortBy="#{patient.phoneNumber}" filterBy="#{patient.phoneNumber}">
				<h:outputText id="phoneNumberValue" value="#{patient.phoneNumber}"></h:outputText>
			</p:column>
			<p:column id="country" headerText="Country"
				sortBy="#{patient.country}" filterBy="#{patient.country}">
				<h:outputText id="countryValue" value="#{patient.country}"></h:outputText>
			</p:column>
			<p:column id="city" headerText="City" sortBy="#{patient.city}"
				filterBy="#{patient.city}">
				<h:outputText id="cityValue" value="#{patient.city}"></h:outputText>
			</p:column>
			<p:column id="view" headerText="View">
				<p:commandButton id="viewPatientButton" icon="pi pi-info-circle"
					style="display: block; margin: auto;" update="patientsProfile"
					action="#{patientController.viewClicked(patient)}" immediate="true"></p:commandButton>
			</p:column>
			<p:column id="delete" headerText="Delete">
				<p:commandButton id="deletePatientButton" icon="pi pi-trash"
					style="display: block; margin: auto;"
					action="#{patientController.deletePatient(patient.id)}"
					immediate="true" update="@form"></p:commandButton>
			</p:column>
			<p:column id="edit" headerText="Edit">
				<p:commandButton id="editPatientButton"
					action="#{patientController.editClicked(patient)}"
					style="display: block; margin: auto;" update="patientForm"
					immediate="true" icon="pi pi-pencil">
					<p:ajax update="patientForm" resetValues="true" />
				</p:commandButton>
			</p:column>
		</p:dataTable>

		<p:commandButton id="addPatientsButton" value="Add new patient"
			action="#{patientController.addClicked}" immediate="true"
			update="patientForm" icon="pi pi-plus">
			<p:ajax update="patientForm" resetValues="true" />
		</p:commandButton>
	</h:form>
</ui:composition>

</html>