<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Appointify</title>
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="80">
			<ui:insert name="header">
				<ui:include src="components/header.xhtml"></ui:include>
			</ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<ui:insert name="header">
				<ui:include src="components/home-info.xhtml"></ui:include>
			</ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="south" size="45">
			<ui:insert name="footer">
				<ui:include src="components/footer.xhtml"></ui:include>
			</ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>